handleSPF: Fix Authentication-Results header

In the `Authentication-Results` header we need access to the hostname, to specify the `authserv-id ` as written in [RFC 5451 section 2.2](https://tools.ietf.org/html/rfc5451#section-2.2).

    Authentication-Results: receiver.example.org; spf=pass smtp.mailfrom=example.com;

ping @trtstm 