Case sensitivity

We need tests with commands in upper/lower/mixed case.

RFC 5321 section 2.4.

> Verbs and argument values (e.g., "TO:" or "to:" in the RCPT command
> and extension name keywords) are not case sensitive, with the sole
> exception in this specification of a mailbox local-part (SMTP
> Extensions may explicitly specify case-sensitive elements).  That is,
> a command verb, an argument value other than a mailbox local-part,
> and free form text MAY be encoded in upper case, lower case, or any
> mixture of upper and lower case with no impact on its meaning.  The
> local-part of a mailbox MUST BE treated as case sensitive.
> Therefore, SMTP implementations MUST take care to preserve the case
> of mailbox local-parts.  In particular, for some hosts, the user
> "smith" is different from the user "Smith".  However, exploiting the
> case sensitivity of mailbox local-parts impedes interoperability and
> is discouraged.  Mailbox domains follow normal DNS rules and are
> hence not case sensitive.

Already added a couple. 
// parseLine returns the verb of the line and a list of all comma separated arguments
func parseLine(line string) (verb string, args []string, err error)

This function puts the verb in uppercase but not the args.
args = strings.Split(strings.TrimSpace(line[i+1:len(line)]), " ")

in parseTO and parseFROM I currently do
if strings.ToLower(joined_args[0:index]) != "to"





Yep, but the localpart should remain untouched...

Btw: you can add syntax highlighting to your comments:

    ```go
    // some code
    ```

> Already added a couple.
Is this pushed, @trtstm ?

Nvm the lowercase commands are in "testing parser with invalid commands"